.map {
  width: 100%;
  height: calc(100vh - 8rem);
  border-radius: 0.5rem;
}

@media screen and (max-width: 520px) {
  .map {
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
  }
}
